.footerContainer{
    display: flex;
    /* height: 30vh; */
    justify-content: space-between;
    background-color: #F0F0F0;
}

.leftSection{
    display: flex;
    justify-content: center;
}
.pageSection{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.pageSection ul li{
list-style: none;
 padding: 5px;
}
.pageSection ul li a{
text-decoration: none;
 color: #000;
 transition: 00.3s ease;
}
.pageSection ul li a:hover{
    color: #5EA8FC;
}

.pageSection img{
    margin-left: 40px;
}

/* Explorer section */
.leftSection .exploreSection{
    margin-top: 15px;
}
.leftSection .exploreSection h3{
   margin-bottom: 25px;
   margin-left: 40px;
}
.leftSection .exploreSection ul li{
  list-style: none;
}

.leftSection .exploreSection ul li a{
  text-decoration: none;
  color: #000;
  transition: 00.3s ease;
}
.leftSection .exploreSection ul li a:hover{
  color: #5EA8FC;
}

/* Right section start here */
.rightSection{
    display: flex;
    flex-direction: column;
    padding-right: 40px;
}
.rightSection .socialIcons ul{
    display: flex;
    flex-direction: row;
}
.rightSection .socialIcons ul li{
list-style: none;
}
.rightSection .socialIcons ul li a{
  list-style: none;
  padding-right:10px;
  color: #000;
}

.middleSection{
    display: flex;
    flex-direction: column;
}
.middleSection img{
    margin-left: 40px;
}
.middleSection ul li{
    list-style: none;
    padding: 5px;
}
.middleSection ul li a{
    text-decoration: none;
    color: #000;
    transition: 00.3s ease;
}
.middleSection ul li a:hover{
    color: #5EA8FC;
}

.bottomSection{
    display: flex;
    flex-direction: column;
}
 
.bottomSection ul li{
    list-style: none;
}
.bottomSection ul li a{
    text-decoration: none;
    color: #000;
    transition: 00.3s ease;
}
.bottomSection ul li a:hover{
    color: #5EA8FC;
}

/* Responsive of footer */

@media only screen and (max-width: 420px) {
    .footerContainer {
      flex-direction: column;
      font-size: 12px;
    }
    /* .rightSection{
        margin-left: 40px;
    } */
    .pageSection{
        margin-left: 0px;
    }
    .leftSection .exploreSection{
        margin-top:0px;
    }
  }