
.headerContainer{
    /* padding-top: 10%; */
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: right;
    justify-content: space-between;
   
}
.headerContent{
    display: flex;
    flex-direction: column;
    align-items: right;
}
.headerContent li{
    list-style: none;
    font-size: 36px;
    color:#898A8A;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
}
.headerContent li:hover{
 
    color:#000;
 
}

/* Header search */
.searchContainer{
    /* padding-top: 10%; */
    margin-top: 20px;
    width: 100%;
}

/* Nvamenu style */
.navContainer{
    display: flex;
}
.navItems{
    display: flex;
    justify-content: center;
    align-items:center;
}
 
.navContainer ul li{
    list-style: none;
    padding: 10px 15px;
   
}
.navContainer ul li a{
    font-weight: bold;
   text-decoration: none;
   color: #000;
   transition: 0.2s ease;
}
.navContainer ul li a:hover{
   color: rgb(67, 120, 236);
}


/* Mobile menu */
.navContainerMobile{
    padding: 10px 20px;
}

.navItemsMobile{
    display: none;
}

.navItemsMobile{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    transition: 0.1s ease;
}
.navItemsMobile li{
   list-style: none;
   padding: 5px;
}
.navItemsMobile li a{
   text-decoration: none;
   color: #000;
   transition: 0.3s ease;
}
.navItemsMobile li a:hover{
    color: rgb(67, 120, 236);
}

.arrowDown{
    transition: 0.01s ease;
}
/* @media only screen and (max-width: 520px) {
    .navItems{
        flex-direction: column;
        display: none;
    }
} */

.arrowSection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.arrowSection li{
   list-style: none;
   padding-left: 20px;
}
.arrowSection li a{
  text-decoration: none;
  font-weight: bold;
  color: red;
}
.arrowSection li a:hover{
    color: rgb(67, 120, 236);
}
